body {
  margin: 0;
  padding: 0;
}
#box_1 {
  border-right: 2px solid black;
  left: 0px;
  position: absolute;
  width: 400px;
}
#box_2 {
  position: absolute;
  left: 400px;
  width: 400px;
}

#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 550px;
  width: 800px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 10px;
}
#feature {
  display: none;
}
#timer {
  display: none;
}
#word_1 {
  position: absolute;
  font-size: 22px;
  top: 250px;
  right: 16px;
}

#word_2 {
  position: absolute;
  font-size: 22px;
  top: 250px;
  left: 16px;
}
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}
