.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
}

.column {
    width: 45%;
}

.rectangle {
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
    transition: background-color 0.2s ease;
}

.selected {
    border: 2px solid blue;
}