body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse; /* Hücreler arasındaki boşlukları kaldırır */
}

table td {
    padding: 0; /* Hücre içi boşlukları kaldırır */
    border: 1px solid black; /* Hücre sınırlarını belirler */
}
input[type="text"] {
    width: 50px;
    height: 30px; /* Daha küçük yükseklik */
    text-align: center;
    border: 1px solid #ddd;
    background-color: transparent; /* Arka plan rengini kaldırır, td'ye göre renk alır */
    font-weight: bolder; /* Yazı kalın */
    font-size:larger;
    padding: 0; /* İç boşlukları kaldırır */
    margin: 0; 
}
.highlight {
    background-color: yellow !important; /* Sarı arka plan rengi */
    border: 1px solid #000; /* Sınır rengi */
}
.bg-light { background-color: #f8f9fa; }
.bg-primary { background-color: #0d6efd; }
.bg-success { background-color: #198754; }
.bg-warning { background-color: #ffc107; }
.bg-danger { background-color: #dc3545; }
.bg-info { background-color: #0dcaf0; }
.bg-secondary { background-color: #6c757d; }
.bg-dark { background-color: #13d42d; }
.bg-muted { background-color: #e9ecef; }
