body {
  margin: 0;
  padding: 0;
}

#lblYazi {
  font-size: 20px;
}
.yazi {
  text-align: center;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 18%;
}
#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 200px;
  width: 650px;
  background-color: #d3d3d3;
  border-radius: 10px;
}
.txtChild {
  width: 650px;
  height: 80px;
  background-color: #304457;
  border-radius: 10px;
}
#feature {
  display: none;
}
#lblHiddenArticle {
  display: none;
}
#getWord {
  font-size: 20px;
  margin-top: 90px;
}
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}
#imgControl {
  width: 35px;
  height: 35px;
  display: none;
}
#button_addon {
  cursor: pointer;
}
#timer {
  display: none;
}
#finishToApp {
  display: none;
  cursor: pointer;
}

