body {
  margin: 0;
  padding: 0;
}

#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 550px;
  width: 700px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 10px;
}
#feature {
  display: none;
}

.box {
  border: 5px solid #3498db;
  margin-left: 35px;
  margin-top: 30px;
  position: absolute;
}
.circle {
  border: 5px solid #3498db;
  margin-left: 35px;
  margin-top: 30px;
  position: absolute;
  border-radius: 1000px;
}
.circle_fill {
  background-color: #3498db;
  margin-left: 35px;
  margin-top: 30px;
  position: absolute;
  border-radius: 1000px;
}
.box_fill {
  background-color: #3498db;
  margin-left: 35px;
  margin-top: 30px;
  position: absolute;
}

#timer {
  display: none;
}

/* @media screen and (min-height: 860px) {
  .txtmain {
    height: 775px;
  }
} */
#feature {
  display: none;
}
#timer {
  display: none;
}
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}
#finishToApp {
  display: none;
  cursor: pointer;
}

