body {
  margin: 0;
  padding: 0;
}

#lblYazi {
  font-size: 20px;
}
.yazi {
  text-align: center;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 10%;
  margin-bottom: 18%;
}
#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 480px;
  width: 600px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 10px;
}
#feature {
  display: none;
}
#lblHiddenArticle {
  display: none;
}
#getWord {
  font-size: 20px;
}
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}
#timer {
  display: none;
}
#finishToApp {
  display: none;
  cursor: pointer;
}
