body {
  margin: 0;
  padding: 0;
}

#ikon {
  top: 0;
  left: 0;
  position: absolute;
}

#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 550px;
  width: 700px;
  background-color: #d3d3d3;
  position: relative;
  border-radius: 10px;
}
#feature {
  display: none;
}
#imgPicture {
  width: 32px;
  height: 32px;
}
#timer {
  display: none;
}

/* @media screen and (min-height: 860px) {
  .txtmain {
    height: 775px;
  }
} */
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}