body {
  margin: 0;
  padding: 0;
}

#lblYazi {
  font-size: 20px;
}
#yazi {
  margin-top: 140px;
}
#txt {
  display: none;
}
.detail {
  z-index: 150;
}

.txtmain {
  height: 350px;
  width: 650px;
  background-color: #d3d3d3;
  border-radius: 10px;
}
.txtChild {
  width: 650px;
  height: 80px;
  background-color: #304457;
  border-radius: 10px;
}
#feature {
  display: none;
}
#lblHiddenArticle {
  display: none;
}
#getWord {
  font-size: 20px;
  margin-top: 90px;
}
#pause {
  display: none;
  cursor: pointer;
}
#resume {
  display: none;
  cursor: pointer;
}
#imgControl {
  width: 50px;
  height: 50px;
  display: none;
}
#button_addon {
  cursor: pointer;
}
#timer {
  display: none;
}
#btntrue {
  cursor: pointer;
}
#btnfalse {
  cursor: pointer;
}
#finishToApp {
  display: none;
  cursor: pointer;
}


