#table {
  float: left;
  width: 50%;
}
#feature {
  display: none;
}
#timer {
  display: none;
}
#txt {
  display: none;
}
.detail {
  z-index: 150;
}
.style {
  color: red;
}
#show {
  background-color: #d3d3d3;
  
}
